html {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 35px;
    padding: 15px 15px;
    border-bottom: 1px solid black;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    padding: 20px 20px;
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

img {
    float: left;
    width: 300px;
    height: 300px;
    padding: 20px 40px 10px 100px;
    margin: 10px;
}

footer {
    text-align: center;
    font-size: 15px;
    border-bottom: 1px dotted black;
    padding: 5px;
    max-width: 15%;
    position: fixed;
    top: 95%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

li {
    border: 1px solid black;
    text-align: center;
    padding: 30px 10px;
    width: 20%;
    margin: 10px;
    vertical-align: text-top;
    float: left;
    list-style: none;
}